#!/usr/bin/env sh

# Basic filesystem navigation operations
alias ls='eza --group-directories-first'
unalias l
alias l='eza -la --color-scale --group-directories-first --git'

# Overwites
alias df='df -h'
alias mv='mv -i'
alias cp='cp -i'
alias mkdir='mkdir -p'

# Moving around folders
alias desk='cd ~/Desktop'
alias dl="cd ~/Downloads"
alias c="cd ~/code"

# Directory tree view
alias t="tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX"

# Google drive
alias drive='cd ~/Library/CloudStorage/GoogleDrive-anwaar.ziani@gmail.com/My\ Drive/'
# Show history
alias history='fc -l 1'
alias h="history"

# .zshrc edit
alias codez="code ~/.zshrc"
alias dotz="code ~/.dotfiles"

alias o='open'

# Git
alias gpull='git pull'
alias ga='git add'
alias gaa='git add --all'
alias gpush='git push -u'
alias gpushom='git push -u origin master'
alias gs='git status'
alias gco='git commit'
alias gch='git checkout'
alias gshow='git show'

# Cloudflare wrangler
alias wg='wrangler'

# Add space to dock
alias dockspace="defaults write com.apple.dock persistent-apps -array-add '{tile-data={}; tile-type="spacer-tile";}'; killall Dock"

# Makes hiding / showing dock fast
alias dockfast="defaults write com.apple.dock autohide-delay -float 0; defaults write com.apple.dock autohide-time-modifier -int 0;killall Dock"
alias dockfastundo="defaults write com.apple.dock autohide-delay -float 0.5; defaults write com.apple.dock autohide-time-modifier -int 0.5 ;killall Dock"

# Shows hidden apps in dock as transparent
alias dockshowhidden="defaults write com.apple.Dock showhidden -bool TRUE && killall Dock"

# Disable "Disk Ejected Improperly" warnings (requires restart)
alias diskwarn="sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.DiskArbitration.diskarbitrationd.plist DADisableEjectNotification -bool YES && sudo pkill diskarbitrationd"

# Change screenshot format from png to jpg for smaller size
alias shottype="defaults write com.apple.screencapture type jpg"

# public and local IP addresses
alias publicip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Recursively delete `.DS_Store` files
alias dsstore="find . -type f -name '*.DS_Store' -ls -delete"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktopicons="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktopicons="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias mutevolume="osascript -e 'set volume output muted true'"
alias maxvolume="osascript -e 'set volume 7'"

# tmux default session
alias tx="tmux a -t main || tmux new -s main"

# tailscale
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
