#!/usr/bin/env sh

# Basic filesystem navigation operations
alias ls='exa --group-directories-first'
unalias l
alias l='exa -la --color-scale --group-directories-first --git'

# Overwites
alias df='df -h'
alias mv='mv -i'
alias cp='cp -i'
alias mkdir='mkdir -p'

# Moving around folders
alias desk='cd ~/Desktop'
alias dl="cd ~/Downloads"
alias c="cd ~/Code"

# Directory tree view
alias t="tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX"

# Show history
alias history='fc -l 1'
alias h="history"

# .zshrc edit
alias sourcez="source ~/.zshrc"
alias codez="code ~/.zshrc"

# mysql
alias startmysql='mysql.server start'
alias stopmysql='mysql.server stop'
alias restartmysql='mysql.server restart'

# Mongodb
alias startmongo="launchctl start org.mongodb.mongod"
alias stopmongo="launchctl stop org.mongodb.mongod"
alias mg='/usr/local/bin/mongod --dbpath /usr/local/var/mongodb'

# Git
alias gpull='git pull'
alias ga='git add'
alias gaa='git add --all'
alias gpush='git push -u'
alias gpushom='git push -u origin master'
alias gs='git status'
alias gco='git commit'
alias gch='git checkout'
alias gshow='git show'

# Add space to dock
alias dockspace="defaults write com.apple.dock persistent-apps -array-add '{tile-data={}; tile-type="spacer-tile";}'; killall Dock"

# public and local IP addresses
alias publicip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Recursively delete `.DS_Store` files
alias dsstore="find . -type f -name '*.DS_Store' -ls -delete"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias mutevolume="osascript -e 'set volume output muted true'"
alias maxvolume="osascript -e 'set volume 7'"

# tmux default session
alias tx="tmux a -t main || tmux new -s main"