#!/usr/bin/env sh

# User configuration
export PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin

# Compilation flags
export ARCHFLAGS="-arch x86_64"

# SSH key path
export SSH_KEY_PATH="~/.ssh/dsa_id"

# MYSQL commands
export PATH="$PATH:/usr/local/mysql/bin"

export LANG=en_US.UTF-8
export EDITOR='nano'

# Golang
export GOPATH=~/gocode
export PATH="$PATH:$GOPATH/bin"

# Yarn global modules bin
export PATH="$PATH:$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin"

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"  # This loads nvm
[ -s "/usr/local/opt/nvm/etc/bash_completion" ] && . "/usr/local/opt/nvm/etc/bash_completion"  # This loads nvm bash_completion
