#!/usr/bin/env sh

fh() {
  print -z $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | fzf +s --tac | sed 's/ *[0-9]* *//')
}

# converts jsonl file to json
to_json() {
  cat $1 | sed -e ':a' -e 'N' -e '$!ba' -e 's/\n/,/g'  | sed 's/n/,/' | sed 's/^/[/'| sed 's/$/]/' | jq . > $(basename "$1" .jsonl).json
}

# converts json file to csv
to_csv() {
  json2csv -i $1 -o $(basename "$1" .json).csv --flatten-objects --flatten-arrays
}

exportenv() {
  export $(xargs < $1)
}

function splitcsv {
  if [ "$#" -ne 2 ]; then
    printf "Usage:\n\n splitcsv [filename] [lines] \n"
    return 1
  fi


  local filename=$1
  local lines=$2
  header=$(head -n 1 $filename)

  split -l $lines $filename

  i=1
  for x in `ls x* | sort`
    do
      # ensure csv headers are added to each split
      if [ "$(head -n 1 $x)" != "$header" ]
      then
        echo -e "$header\n$(cat $x)" > $x
      fi

      # rename csv file
      mv $x ""$(basename $1 .csv)"_$i".csv
      i=$(($i+1))
    done
}

function reset_git_history() {
  read -q "answer?Are you sure you want to reset git history for brach $1? [y/n] "
  print ""
  if [[ "$answer" =~ ^[Yy]$ ]] then
    git checkout --orphan temp_branch
    git add -A
    git commit -am "Initial commit"
    git branch -D $1
    git branch -m $1
    git push -f origin $1
  fi
}

# AnyBar
function anybar {
  echo -n $1 | nc -4u -w0 localhost ${2:-1738};
}

# open github repo from git repo
function hb() {
  # from https://jasonmccreary.me/articles/open-github-command-line/
  github_url=`git remote -v | awk '/fetch/{print $2}' | sed -Ee 's#(git@|git://)#https://#' -e 's@com:@com/@' -e 's%\.git$%%' | awk '/github/'`;
  open $github_url
}

# inside tmux: only exit if we're not on the last pane
exit() {
  if [[ -z $TMUX ]]; then
    builtin exit
    return
  fi

  panes=$(tmux list-panes | wc -l)
  wins=$(tmux list-windows | wc -l)
  count=$(($panes + $wins - 1))
  if [ $count -eq 1 ]; then
    tmux detach
  else
    builtin exit
  fi
}