
unbind C-b
set -g prefix `
bind-key ` send-prefix


# Reload the tmux config.
bind-key r source-file ~/.tmux.conf \; display-message "Reloaded ~/.tmux.conf"

set -g history-limit 50000

# Enable color support inside of tmux.
set -g default-terminal "xterm-256color"
set -ga terminal-overrides ",*256col*:Tc"

# Ensure window titles get renamed automatically.
setw -g automatic-rename

# Start windows and panes index at 1, not 0.
set -g base-index 1
setw -g pane-base-index 1

# Enable full mouse support.
set -g mouse on

# Display a clock on the bottom right of the status bar.
#set -g status-right '%a %Y-%m-%d %H:%M'
#set -g status-right-length 20

# Navigate between panes
bind-key h select-pane -L # Left
bind-key j select-pane -D # Down
bind-key k select-pane -U # Up
bind-key l select-pane -R # Right

# Split panes and preserve path
bind-key \\ split-window -h -c "#{pane_current_path}"
bind-key - split-window -v -c "#{pane_current_path}"

# Create new window and preserve path
bind-key c new-window -c "#{pane_current_path}"

# Resize panes
bind -r Left resize-pane -L 10
bind -r Right resize-pane -R 10
bind -r Down resize-pane -D 5
bind -r Up resize-pane -U 5

# Renumber windows as they are created and destroyed
# to keep the window numbers consistent with the count
set-option -g renumber-windows on

# ===== Appearance =====

# Default tatusbar color
set-option -g status-style bg=colour237,fg=colour223 # bg=bg1, fg=fg1

# Default window title colors
set-window-option -g window-status-style bg=colour214,fg=colour237 # bg=yellow, fg=bg1s


# Default window with an activity alert
set-window-option -g window-status-activity-style bg=colour237,fg=colour248 # bg=bg1, fg=fg3

# Active window title colors
set-window-option -g window-status-current-style bg=red,fg=colour237 # fg=bg1

# Set active pane border color
set-option -g pane-active-border-style fg=colour214

# Set inactive pane border color
set-option -g pane-border-style fg=colour239

# Message info
set-option -g message-style bg=colour239,fg=colour223 # bg=bg2, fg=fg1

# Writing commands inactive
set-option -g message-command-style bg=colour239,fg=colour223 # bg=fg3, fg=bg1

# Pane number display
set-option -g display-panes-active-colour colour24 #fg2
set-option -g display-panes-colour colour237 #bg1

# Clock
set-window-option -g clock-mode-colour colour109 #blue

# Bell
set-window-option -g window-status-bell-style bg=colour167,fg=colour235 # bg=red, fg=bg
